@font-face {
    font-family: 'peyda_black';
    src: url('./font/peyda/eot/PeydaWeb-Black.eot');
    src: url("./font/peyda/ttf/Peyda-Black.ttf") format("truetype");
    src: url('./font/peyda/woff/PeydaWeb-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'peyda_bold';
    src: url('./font/peyda/eot/PeydaWeb-Bold.eot');
    src: url("./font/peyda/ttf/Peyda-Bold.ttf") format("truetype");
    src: url('./font/peyda/woff/PeydaWeb-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'peyda_regular';
    src: url('./font/peyda/eot/PeydaWeb-Regular.eot');
    src: url("./font/peyda/ttf/Peyda-Regular.ttf") format("truetype");
    src: url('./font/peyda/woff/PeydaWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 1px
}